<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set to [WARN] to get rid of jOOQ banner  -->
    <logger name="org.jooq.Constants" level="info"/>
    <!-- Set to [DEBUG] if you want to see SQL being executed   -->
    <logger name="org.jooq.tools.LoggerListener" level="info"/>
    <!--To get rid of SQL Version on each query -->
    <logger name="org.jooq" level="info"/>

    <!-- Switch to [INFO] to see log information from test-containers -->
    <logger name="org.testcontainers" level="warn"/>
    <logger name="tc" level="warn"/>
</configuration>